# /WebcamGestures
/WebcamGestures/*.suo
/WebcamGestures/*.sdf
/WebcamGestures/*.opensdf
/WebcamGestures/Debug
/WebcamGestures/Release

# /WebcamGestures/WebcamGestures
/WebcamGestures/WebcamGestures/Debug
/WebcamGestures/WebcamGestures/Release
/WebcamGestures/WebcamGestures/*.avi
/WebcamGestures/WebcamGestures/*.jpg
/WebcamGestures/WebcamGestures/example.txt

# /WebcamGestures/BackgroundSubtraction/
/WebcamGestures/BackgroundSubtraction/Release/
/WebcamGestures/BackgroundSubtraction/Debug/

# /WebcamGestures/ConvexDetection/
/WebcamGestures/ConvexDetection/Release/
/WebcamGestures/ConvexDetection/Debug/
