# /WebcamGestures
/WebcamGestures/*.suo
/WebcamGestures/*.sdf
/WebcamGestures/*.opensdf
/WebcamGestures/Debug
/WebcamGestures/Release

# /WebcamGestures/WebcamGestures
/WebcamGestures/WebcamGestures/Debug
/WebcamGestures/WebcamGestures/Release
